<!-- Start page content -->
<div class="page-content section">
  <!-- Start breadcume area -->
  <div class="breadcume-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb">
                      <a title="Return to Home" href="index.html" class="home"><i class="fa fa-home"></i></a>
                      <span class="navigation-pipe">&gt;</span>
                      Blog
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End breadcume area -->
  <div class="blog-area">
      <div class="container">
          <div class="row">
              <!-- Start blog post -->
              <div class="col-lg-12">
                  <div class="blog-post2">
                      <div class="blog-box2">
                          <div class="entry-date">
                              <div class="day">20</div>
                              <div class="month">Jun</div>
                          </div>
                          <div class="entry-main-content">
                              <div class="entry-thumbnail">
                                  <img alt="" src="assets/img/blog/blog-1.jpg">
                                  <div class="block_hover">
                                      <div class="blog-link">
                                          <a class="fancybox" href="img/blog/blog-1.jpg"><i class="fa fa-search"
                                                  data-fancybox-group="gallery"></i></a>
                                          <a href="single-blog.html"><i class="fa fa-link"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="entry-content-other">
                                  <h3><a href="">Ut tellus dolor, dapibus eget,</a></h3>
                                  <p><a href="single-blog.html"><i class="fa fa-user"></i> Admin</a><a href="#"><i
                                              class="fa fa-comment"></i> Comment 03</a></p>
                                  <div class="summary">
                                      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean
                                          auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                                          Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum
                                          dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum
                                          vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                                          Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel,
                                          scelerisque eget, malesuada at, neque</p>
                                      <a href="single-blog.html" class="read-more-link">Read More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End blog post -->
                  <!-- Start blog post -->
                  <div class="blog-post2">
                      <div class="blog-box2">
                          <div class="entry-date">
                              <div class="day">22</div>
                              <div class="month">Jun</div>
                          </div>
                          <div class="entry-main-content">
                              <div class="entry-thumbnail">
                                  <img alt="" src="assets/img/blog/blog-2.jpg">
                                  <div class="block_hover">
                                      <div class="blog-link">
                                          <a class="fancybox" href="img/blog/blog-2.jpg"><i class="fa fa-search"
                                                  data-fancybox-group="gallery"></i></a>
                                          <a href="single-blog.html"><i class="fa fa-link"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="entry-content-other">
                                  <h3><a href="">elementum vel, cursus eleifend,</a></h3>
                                  <p><a href="single-blog.html"><i class="fa fa-user"></i> Admin</a><a href="#"><i
                                              class="fa fa-comment"></i> Comment 10</a></p>
                                  <div class="summary">
                                      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean
                                          auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                                          Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum
                                          dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum
                                          vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                                          Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel,
                                          scelerisque eget, malesuada at, neque</p>
                                      <a href="single-blog.html" class="read-more-link">Read More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End blog post -->
                  <!-- Start blog post -->
                  <div class="blog-post2">
                      <div class="blog-box2">
                          <div class="entry-date">
                              <div class="day">28</div>
                              <div class="month">Jun</div>
                          </div>
                          <div class="entry-main-content">
                              <div class="entry-thumbnail">
                                  <img alt="" src="assets/img/blog/blog-3.jpg">
                                  <div class="block_hover">
                                      <div class="blog-link">
                                          <a class="fancybox" href="img/blog/blog-3.jpg"><i class="fa fa-search"
                                                  data-fancybox-group="gallery"></i></a>
                                          <a href="single-blog.html"><i class="fa fa-link"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="entry-content-other">
                                  <h3><a href=""> Aenean auctor wisi et urna.</a></h3>
                                  <p><a href="single-blog.html"><i class="fa fa-user"></i> Admin</a><a href="#"><i
                                              class="fa fa-comment"></i> Comment 22</a></p>
                                  <div class="summary">
                                      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean
                                          auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                                          Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum
                                          dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum
                                          vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                                          Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel,
                                          scelerisque eget, malesuada at, neque</p>
                                      <a href="single-blog.html" class="read-more-link">Read More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End blog post -->
                  <!-- Start blog post -->
                  <div class="blog-post2">
                      <div class="blog-box2">
                          <div class="entry-date">
                              <div class="day">12</div>
                              <div class="month">Jun</div>
                          </div>
                          <div class="entry-main-content">
                              <div class="entry-thumbnail">
                                  <img alt="" src="assets/img/blog/blog-4.jpg">
                                  <div class="block_hover">
                                      <div class="blog-link">
                                          <a class="fancybox" href="img/blog/blog-4.jpg"><i class="fa fa-search"
                                                  data-fancybox-group="gallery"></i></a>
                                          <a href="single-blog.html"><i class="fa fa-link"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="entry-content-other">
                                  <h3><a href="">Aliquam erat volutpat.</a></h3>
                                  <p><a href="single-blog.html"><i class="fa fa-user"></i> Admin</a><a href="#"><i
                                              class="fa fa-comment"></i> Comment 07</a></p>
                                  <div class="summary">
                                      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean
                                          auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                                          Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum
                                          dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum
                                          vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                                          Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel,
                                          scelerisque eget, malesuada at, neque</p>
                                      <a href="single-blog.html" class="read-more-link">Read More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End blog post -->
                  <!-- Start blog post -->
                  <div class="blog-post2">
                      <div class="blog-box2">
                          <div class="entry-date">
                              <div class="day">18</div>
                              <div class="month">Jun</div>
                          </div>
                          <div class="entry-main-content">
                              <div class="entry-thumbnail">
                                  <img alt="" src="assets/img/blog/blog-5.jpg">
                                  <div class="block_hover">
                                      <div class="blog-link">
                                          <a class="fancybox" href="img/blog/blog-5.jpg"><i class="fa fa-search"
                                                  data-fancybox-group="gallery"></i></a>
                                          <a href="single-blog.html"><i class="fa fa-link"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="entry-content-other">
                                  <h3><a href="">Duis ac turpis. Donec sit amet eros.</a></h3>
                                  <p><a href="single-blog.html"><i class="fa fa-user"></i> Admin</a><a href="#"><i
                                              class="fa fa-comment"></i> Comment 08</a></p>
                                  <div class="summary">
                                      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean
                                          auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                                          Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum
                                          dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum
                                          vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                                          Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel,
                                          scelerisque eget, malesuada at, neque</p>
                                      <a href="single-blog.html" class="read-more-link">Read More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End blog post -->
                  <!-- Start blog post -->
                  <div class="blog-post2">
                      <div class="blog-box2">
                          <div class="entry-date">
                              <div class="day">05</div>
                              <div class="month">Jun</div>
                          </div>
                          <div class="entry-main-content">
                              <div class="entry-thumbnail">
                                  <img alt="" src="assets/img/blog/blog-6.jpg">
                                  <div class="block_hover">
                                      <div class="blog-link">
                                          <a class="fancybox" href="img/blog/blog-6.jpg"><i class="fa fa-search"
                                                  data-fancybox-group="gallery"></i></a>
                                          <a href="single-blog.html"><i class="fa fa-link"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="entry-content-other">
                                  <h3><a href="">Mauris fermentum dictum magna.</a></h3>
                                  <p><a href="single-blog.html"><i class="fa fa-user"></i> Admin</a><a href="#"><i
                                              class="fa fa-comment"></i> Comment 5</a></p>
                                  <div class="summary">
                                      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean
                                          auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                                          Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum
                                          dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum
                                          vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                                          Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel,
                                          scelerisque eget, malesuada at, neque</p>
                                      <a href="single-blog.html" class="read-more-link">Read More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End blog post -->
                  <!-- Start blog post -->
                  <div class="blog-post2">
                      <div class="blog-box2">
                          <div class="entry-date">
                              <div class="day">15</div>
                              <div class="month">Jun</div>
                          </div>
                          <div class="entry-main-content">
                              <div class="entry-thumbnail">
                                  <img alt="" src="assets/img/blog/blog-7.jpg">
                                  <div class="block_hover">
                                      <div class="blog-link">
                                          <a class="fancybox" href="img/blog/blog-7.jpg"><i class="fa fa-search"
                                                  data-fancybox-group="gallery"></i></a>
                                          <a href="single-blog.html"><i class="fa fa-link"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="entry-content-other">
                                  <h3><a href="">Sed laoreet aliquam leo.</a></h3>
                                  <p><a href="single-blog.html"><i class="fa fa-user"></i> Admin</a><a href="#"><i
                                              class="fa fa-comment"></i> Comment 10</a></p>
                                  <div class="summary">
                                      <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean
                                          auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                                          Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum
                                          dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum
                                          vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                                          Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel,
                                          scelerisque eget, malesuada at, neque</p>
                                      <a href="single-blog.html" class="read-more-link">Read More</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End blog post -->
                  <!-- Start blog pagination -->
                  <div class="blog-pagination">
                      <ul class="pagination">
                          <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                      </ul>
                  </div>
                  <!-- End blog pagination -->
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End page content -->
<!-- Start brand and client -->
<div class="brand-and-client section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="area-title">
                  <h3>BRAND & CLIENTS</h3>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="brand-logo featured-product-area">
                  <div class="clients">
                      <a href="#"><img src="assets/img/brand-logo/1.jpg" alt=""></a>
                  </div>
                  <div class="clients">
                      <a href="#"><img src="assets/img/brand-logo/2.jpg" alt=""></a>
                  </div>
                  <div class="clients">
                      <a href="#"><img src="assets/img/brand-logo/3.jpg" alt=""></a>
                  </div>
                  <div class="clients">
                      <a href="#"><img src="assets/img/brand-logo/4.jpg" alt=""></a>
                  </div>
                  <div class="clients">
                      <a href="#"><img src="assets/img/brand-logo/5.jpg" alt=""></a>
                  </div>
                  <div class="clients">
                      <a href="#"><img src="assets/img/brand-logo/6.jpg" alt=""></a>
                  </div>
                  <div class="clients">
                      <a href="#"><img src="assets/img/brand-logo/1.jpg" alt=""></a>
                  </div>
                  <div class="clients">
                      <a href="#"><img src="assets/img/brand-logo/3.jpg" alt=""></a>
                  </div>
                  <div class="clients">
                      <a href="#"><img src="assets/img/brand-logo/4.jpg" alt=""></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End brand and client -->
<!-- Start blog area -->
<div class="blog-area section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="area-title">
                  <h3>The Blog</h3>
              </div>
          </div>
          <div class="blog-box featured-product-area">
              <div class="col-lg-12">
                  <a href="single-blog.html"><img src="assets/img/blog/4-home-default.jpg" alt=""></a>
                  <span class="blog-date">2019-08-12 04:40:21</span>
                  <div class="blog-info">
                      <h3><a href="single-blog.html">Share the Love for PrestaShop 1.6</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been...</p>
                      <a href="single-blog.html" class="readmore">Read more<i class="fa fa-arrow-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-12">
                  <a href="single-blog.html"><img src="assets/img/blog/3-home-default.jpg" alt=""></a>
                  <span class="blog-date">2019-08-12 04:40:21</span>
                  <div class="blog-info">
                      <h3><a href="single-blog.html">Answers to your Questions about PrestaShop</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been...</p>
                      <a href="single-blog.html" class="readmore">Read more<i class="fa fa-arrow-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-12">
                  <a href="single-blog.html"><img src="assets/img/blog/2-home-default.jpg" alt=""></a>
                  <span class="blog-date">2019-08-12 04:40:21</span>
                  <div class="blog-info">
                      <h3><a href="single-blog.html">What is Bootstrap? – The History and the Hype</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been...</p>
                      <a href="single-blog.html" class="readmore">Read more<i class="fa fa-arrow-right"></i></a>
                  </div>
              </div>
              <div class="col-lg-12">
                  <a href="single-blog.html"><img src="assets/img/blog/1-home-default.jpg" alt=""></a>
                  <span class="blog-date">2019-08-12 04:40:21</span>
                  <div class="blog-info">
                      <h3><a href="single-blog.html">From Now we are certified web agency</a></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been...</p>
                      <a href="single-blog.html" class="readmore">Read more<i class="fa fa-arrow-right"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End blog area -->
