<div class="container" [style.margin-top.px] = "30">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Pipe</th>
            <th>Input</th>
            <th>Output</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>FormatData</td>
            <td width="50%">{{ content }}</td>
            <td>{{ content | formatData:start:20 }}</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input [(ngModel)]="idFilter" type="text" class="form-control" placeholder="Lọc với ID">
            </td>
            <td>
              <input [(ngModel)]="nameFilter" type="text" class="form-control" placeholder="Lọc với Name">
            </td>
            <td>
              <select  class="form-control" name="" id="" [(ngModel)]="statusFilter">
                <option  value="true">Active</option>
                <option  value="false">Deactive</option>
                <option value="">All</option>
              </select>
            </td>
          </tr>
          <tr *ngFor="let item of product  | filter :idFilter :nameFilter :statusFilter">
            <td>{{item.id}}</td>
            <td width="50%">{{item.name}}</td>
            <td>{{item.status ? 'Active' : 'Deactive'}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
