<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Reactive-Form</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group" >
              <label for="">Username</label>
              <input type="text" class="form-control" name="txtName">
            </div>
            <div class="form-group" >
              <label for="">Password</label>
              <input type="password" class="form-control" name="txtPass" >
            </div>
            <div >
              <div class="form-group">
                <label for="">Fullname</label>
                <input type="text" class="form-control" name="txtFullname" >
              </div>
              <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" name="txtEmail">
              </div>
              <div class="form-group">
                <label for="">Phone</label>
                <input type="number" class="form-control" name="txtPhone">
              </div>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <button type="submit" class="btn btn-danger">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
